.divContainer{
    position: absolute;
      background: transparent;
      width: 100vw;
      height: 100vh;
      overflow: auto;
  }
  /* .divContainer > div{
    width: fit-content;
    height: fit-content;
    color: white;
    background: black;
    padding: 2rem;
  } */