.SpaceSystemContainer{
    position: relative;
    background: #515B6A;
    padding: 40px 0;
    z-index: 2;
}
.LineDot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: #fff;
}
.LineDotContent p{
    opacity: 0.5;
}
.LaunchVehicleSystemContainer{
    position: relative;
    padding: 40px 0;
}
.LaunchVehicleSystemWrap{
    display: flex;
    padding: 100px 80px;
    color: #fff;
    width: 50%;
}
.SpaceSystemContentLeftList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    padding-top: 1rem;
    border-top: 1px solid gray;
}

.SpaceSystemListitems {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    flex: calc(50% - 1rem);
    padding-bottom: 2rem;
    padding-inline: 2rem;
    border-bottom: 1px solid gray;
}
.SpaceSystemListitems img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.LvsRightItem .svgRender{
    position: absolute;
    top: -328px;
    right: 0;
    width: 84%;
    height: auto;
}

.BlockDataContainerRight .LvsRightItem .svgRender{
    position: absolute;
    top: -300px;
    left: -100px;
    width: 84%;
    height: auto;
}
.LvsRightItemBottom.LvsRightItem .svgRender{
    position: absolute;
    top: -350px;
    right: 150px;
    width: 84%;
    height: auto;
    transform: rotate(90deg);
 }
.svgRender svg{
    width: 100%;
    height: 100%;
    position: relative;
    z-index:-1;
}
.LvsRightItem{
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.BlockDataContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.BlockDataContainer.BlockDataContainerRight{
    flex-direction: row-reverse;
}
.LvsLeftItem h3{
    padding-bottom: 24px;
}
.LvsLeftItem button{
    margin-top: 60px;
}
.SpaceSystemDiscoverWrap{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.SpaceSystemDiscover{
    position: relative;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SpaceSystemDiscoverTitle{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    width: 70%;
    margin: 0 auto;
}
.SpaceSystemDiscover button{
    margin-top: 60px;
}
.animatePathSvg{
    display: flex;
}
.paused{
    animation-play-state: paused; 

}

.SpaceSystemDiscoverImg{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
}
.SpaceSystemDiscoverImg > svg{
    position: absolute;
    z-index: -1;
}

.SpaceSystemDiscoverImg .topLeftPart {
    /* top: 0; */
    right: auto;
    /* left: 22vw; */
    top: -40vh;
    left: -40vw;
    height: 26vw;
    width: 26vw;
    transition: all 3s ease;
}
.SpaceSystemDiscoverImg .topRightPart {
    /* top: 0; */
    left: auto;
    bottom: 0;
    top: -40vh;
    right:  -40vw;
    /* right: 22vw; */
    height: 26vw;
    width: 26vw;
    transition: all 3s ease;
}
.SpaceSystemDiscoverImg .bottomPart {
    top: auto;
    /* top: 24vw; */
    left: 0;
    right: 0;
    bottom: -50vh;
    /* bottom: -0; */

    margin: 0 auto;
    height: 26vw;
    width: 26vw;
    transition: all 3s ease;

}

@media(max-width:768px){
    .BlockDataContainer{
        flex-direction: column-reverse;
    }
    .LaunchVehicleSystemWrap{
        width: 100%;
        padding: 60px 16px;
    }
    .LvsRightItem{
        width: 100%;
    }
    .LvsRightItem img{
        width: 100%;
    }
    .LvsLeftItem button{
        margin-top: 40px;
    }
    .BlockDataContainer{
        flex-direction: column-reverse;
    }
    .BlockDataContainer.BlockDataContainerRight{
        flex-direction: column-reverse;
    }
    .svgRender img{
        width: 100%;
    }
    .SpaceSystemDiscoverTitle{
        top: 7%;
    }
    .SpaceSystemDiscoverWrap{
        height: unset;
    }
    .SpaceSystemDiscover{
        height: 300px;
    }
}