.footerMainContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}
.cosmosContainer{
    padding: 8rem 5rem;
    position: relative;
    width: 100vw;
    height: fit-content;
}
.cosmosContainerBackground{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.cosmosContainerBackground  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cosmosContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 44vw;
    gap: 5rem;
}
.cosmosTitle{
    color: #fff;
}
.cosmosBlocksContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cosmosBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
}
.cosmosBlockTitle{
    color: #6EE1B8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cosmosBlockTitle::before{
    content: '';
    display: flex;
    height: 11px;
    width: 6px;
    position: relative;
    margin-right: 10px;
    background: #6EE1B8;
}
.cosmosBlockDescription{
    color: #FFF;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.cosmosBlockButton{
    background: white;
    width: fit-content;
    padding: 0.8rem 1.3rem;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; 
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.FooterContainer{
    width: 90%;
    margin: 0 auto;
    padding: 70px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.FooterItems{
    display: flex;
    justify-content: space-between;
}
.FooterTitle{
    max-width: 250px;
    display: flex;
    gap: 44px;
    flex-direction: column;
}
.FooterTitle img{
    width: 180px;
}
.FooterLinks ul{
    list-style: none;
    display: inline-grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    row-gap: 16px;
    grid-column-gap: 100px;
}
.FooterLinks ul li{
    font-family: "JetBrains Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.enquiresWrap{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.enquiresContent{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.enquiresContent h3{
    color: rgba(0, 0, 0, 0.5);
}
.SocialLinkWrapper ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.SocialLinkWrapper img{
    width: 20px;
    height: 20px;
}
.copyRightsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "JetBrains Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: rgba(105, 105, 105, 1);
}
.copyRightsItems{
    display: flex;
    align-items: center;
    gap: 40px;
}

@media(max-width:768px){
    .cosmosContainer{
        padding: 60px 20px;
    }
    .cosmosContentContainer{
        width: 100%;
    }
    .cosmosBlocksContainer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 60px;
        height: 400px;
    }
    .cosmosTitle{
        font-size: 37px;
    }
    .FooterContainer{
        gap: 48px;
    }
    .FooterItems{
        flex-direction: column;
        gap: 40px;
    }
    .FooterLinks ul{
        display: flex;
        flex-direction: column;
    }
    .copyRightsWrapper{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 6px;
    }
    .copyRightsItems{
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
    }
    .privacyPolicyItems{
        max-width: 275px;
        width: 100%;
        line-height: 24px;
    }
}